
body {
text-align:left;
overflow: auto;
background:  #141414;
}
#mainRowid{
    display: box;
    clear: both;
}

#SettingsColum{
    width: 20%;
    resize: both;
    float: left;
}

#codingColumn{
    width: 80%;
    float:right;
    overflow: auto;
}
.tabEditors button:hover {
    background-color: #ddd;
  }
  
.tabEditors button:active {
background-color: #aaa;
}

#mainToolbar{
    margin: 0%;
    left: 25%;
    right: 25%;

}
#descriptionId, #presetTxtId, #presetTagId{
    color : #aaa; 
}

#settingsId{
    color : #aaa;
    overflow-x: scroll;
}

#langSelecGrp{
    color : #aaa; 
}

#editor_glsl_settings, #expr_editor_settings{
    color : #aaa; 
}




