body {
    text-align:left;
    min-height: 100%;
    overflow: auto;
    background:  #141414;
    }
    
    #MenuColId{
        height: 100%;
        width: 70px;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: #111;
        overflow-x: hidden;
        padding-top: 20px;
    }
    #MenuColId a{
        padding: 6px 8px 6px 16px;
        text-decoration:none;
        font-size: 20px;
        color: #818181;
        display: block;
    }
    #MenuCpmId a:hover{
        color: #f1f1f1
    }
    
    #SettingsCol{
        height: 100%;
        width: 290px;
        margin-left: 70px;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: #111;
        overflow-x: auto;
        padding-top: 10px;
    }
    #SettingsCol a:active {
        font-size: 20px;
        color: #818181;
        background-color: green;
        display: block;
    }
    #tabEditsMenu{
        position: sticky;
        z-index: 3;
        margin-left: 320px;
        height: 100%;
        background-color: #111;
    }
    #tabEditsMenu button:hover {
        background-color: #ddd;
      }
    #split-bar {
    background-color:gray;
    position: relative;
    box-sizing: border-box;
    z-index:4;
    height:100%;
    width: 10px;
    float: right;
    cursor: col-resize;
    }
    
    #grpSett{
        position: sticky;
        margin-right: 6px;
    }
    
    
    #descriptionId, #presetSettingId{
        color : #aaa; 
    }
    
    #settingsId{
        color : #aaa;
        overflow-x: scroll;
    }
    
    #langSelecGrp{
        color : #aaa; 
    }
    
    #editor_glsl_settings, #expr_editor_settings{
        color : #aaa; 
    }

    #wiki{
        color : #aaa; 
    }
    