
label.presetsBlock{
    vertical-align: top;
    display: inline-block;
    text-align:center;
    color:  #fff;
}
#presetDescr{
    margin: 5px;
    color:  #fff;
}
#presetIconImgsId{
    margin: 10px;
    width: 50x;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
    
}

#presetsListAccess{
    column-count: 2;
    float: left;
}

input[id*="presetIconRadio"]:checked+img{
    box-shadow: 0 0 0 5px grey;
}
input[id*="presetIconRadio"]{
    display: none;
}




