#presetToolBar{
    overflow: hidden;
    position: fixed;
    background-color: #111;
    top: 0; 
    padding: 5px;
}
#presetId{
    overflow-x: auto;
    overflow-y: hidden;
}
#presetsListAccess{
    margin-top: 150px;
    overflow: auto;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    align-content: space-around;
}
.presetsBlock{
    align-self: flex-start;
    margin-left: auto;
    margin: 2%; 
    margin-right:15%;
    color: #aaa;
}
.presetIconImgsId{
    vertical-align: middle;
    padding: 5px;
    margin: 5px;
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 45%;
    
}
presetIconImgsId :active{
    border-color: green;
}
#seachBarInput{
    margin: 2%;
    width: 150px;
    height: 25px;   
    border-radius: 7px;
}
#presetDescr{
    background-color: #111;
    color : #aaa;
    margin: 2%;
    width: 75%;
    margin-right:10%;

}

input[id*="presetIconRadio"]:checked+img{
    box-shadow: 0 0 0 5px grey;
}
input[id*="presetIconRadio"]{
    display: none;
}




