
body {
overflow: hidden;
text-align:left;
}


.tab button:hover {
    background-color: #ddd;
  }
  
  .tab button:active {
    background-color: #aaa;
  }

#mainToolbar{
    margin: 0%;
    left: 25%;
    right: 25%;

}
#gl_frag_tab{
    width:90%;
    height: 600px;
    display:inline-block;
    position:relative
}
#gl_vert_tab{
    width:90%;
    height: 600px;
    display:inline-block;
    position:relative
}
#gl_geo_tab{
    width:90%;
    height: 600px;
    display:inline-block;
    position:relative
}
#expr_red_tab{
    width:90%;
    height: 600px;
    display:inline-block;
    position:relative
}
#expr_green_tab{
    width:90%;
    height: 600px;
    display:inline-block;
    position:relative
}
#expr_blue_tab{
    width:90%;
    height: 600px;
    display:inline-block;
    position:relative
}
#expr_alpha_tab{
    width:90%;
    height: 600px;
    display:inline-block;
    position:relative
}
#gl_frag_editor{
    position: absolute;
    margin: 1%;
    top: 5%;
    bottom: 0;
    left: 0;
    right: 0;
}

#gl_vert_editor{
    position: absolute;
    margin: 1%;
    top: 5%;
    bottom: 0;
    left: 0;
    right: 0;
}

#gl_geo_editor{
    position: absolute;
    margin: 1%;
    top: 5%;
    bottom: 0;
    left: 0;
    right: 0;
}

#expr_red_editor{
    position: absolute;
    margin: 1%;
    top: 5%;
    bottom: 0;
    left: 0;
    right: 0;
}
#expr_green_editor{
    position: absolute;
    margin: 1%;
    top: 5%;
    bottom: 0;
    left: 0;
    right: 0;
}
#expr_blue_editor{
    position: absolute;
    margin: 1%;
    top: 5%;
    bottom: 0;
    left: 0;
    right: 0;
}
#expr_alpha_editor{
    position: absolute;
    margin: 1%;
    top: 5%;
    bottom: 0;
    left: 0;
    right: 0;
}

#editor_name{
    color: #B9B9B9;
    margin: 1%;
}